@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Add this CSS if you are using a separate file for component-specific styles (e.g., Home.css) */
  .animate-slide-up {
    animation: slide-up 0.5s ease-in-out;
  }
  
  .circle-container {
    display: inline-block;
    position: relative;
  }
  
  .circle-text {
    margin-top: 10px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 92px;
    font-weight: 700;
  }
  
  
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in-right {
    animation: slideInRight 0.5s ease-out;
  }